<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Login</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h3>Hi, User <%= user.name %></h3>
    <img src="<%= user.thumbnail %>" alt="">
    <p><%= user.date %></p>
  </body>
</html>
