<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Weather</title>
</head>
<body>
    <div class="content">
        <div class="title">查詢結果</div>
        <div id="city">
            <table id="weatherInfo">
                <tr>
                    <td>城市</td>
                    <td><%= djs.name %></td>
                </tr>
                <tr>
                    <td>經度</td>
                    <td><%= djs.coord.lon %></td>
                </tr>
                <tr>
                    <td>緯度</td>
                    <td><%= djs.coord.lat %></td>
                </tr>
                <tr>
                    <td>天氣</td>
                    <td><%= djs.weather[0].main %></td>
                </tr>
                <tr>
                    <td>天氣描述</td>
                    <td><%= djs.weather[0].description %></td>
                </tr>
                <tr>
                    <td>溫度</td>
                    <td><%= temp %></td>
                </tr>
            </table>
            <a href="/">回到主頁</a>
        </div>
    </div>
</body>
</html>